body {
    padding: 0px;
    margin: 0px;

}

.container {
    display: flex;
    background-color: rgb(194, 233, 255);
    justify-content: space-between;
    align-items: start;
}

nav {
    display: flex;
    gap: 4.5vh;
    padding: 4vh 4.5vh;

    font-size: 4vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    padding: 5px;
}

.img {
    background-image: url(images/images.jpg);
    background-size: cover;
    border: 2px solid white;
    border-radius: 50%;
    width: 20vh;
    height: 20vh;
    margin: 1.5vh;
    margin-left: 4vh;

}

nav a:hover {
    background-color: rgb(156, 224, 255);
    ;
    border-radius: 10%;
    color: black;

}